<!DOCTYPE html>
@using Microsoft.AspNetCore.Mvc;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - part3</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/materialize.min.css")" media="screen" runat="server" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/style.css")" media="screen" runat="server" />
</head>

<ul id="dropdown1" class="dropdown-content">
    <li><a class="white-text" asp-controller="Shop" asp-action="MyOrders">My Orders</a></li>
    <li><a class="white-text" asp-controller="Account" asp-action="Logout">Logout</a></li>
</ul>
<nav class="pink lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a asp-controller="Home" asp-action="Index" class="brand-logo">PC Express</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="white-text" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="white-text" asp-controller="Shop" asp-action="Index">Shop</a></li>
            <li><a class="white-text" asp-controller="Configurator" asp-action="Index">Configurator</a></li>
            <li><a class="white-text" asp-controller="Shop" asp-action="Checkout">Checkout</a></li>
            @if (ViewBag.LoggedIn != null)
            {
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
            }
            else
            {

                <li><a class="white-text" asp-controller="Account" asp-action="Login">Login</a></li>
            }
            <li><a class="white-text" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
</nav>

<body class="cyan">
    <div class="card-panel body-content cyan">
        <div class="container">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - Lorenzo Zafra</p>
            </footer>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/materialize.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
